<h1 class="page-title">
    {{ (!id) ? 'New Payment' : 'Edit Payment' }}
</h1>
<hr>
<div class="row grid-margin">
    <div class="col-lg-12">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['/payments']">
                <i class="fa fa-chevron-circle-left"></i> Go Back
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Fill the following fields</h2>
                <div class="alert alert-danger" role="alert" *ngIf="payment$.error">
                    <h4 class="alert-heading">Holy guacamole!</h4>
                    <div *ngFor="let error of payment$.error.errors">
                        {{ error.message }}
                    </div>
                </div>
                <form class="forms-sample" (ngSubmit)="onSubmit($event)" [ngClass]="{'d-none': payment$.isLoading == true}">
                    <div class="form-group text-center" *ngIf="payment$.isLoading == true">
                        <loading-spinner></loading-spinner>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <div class="form-group col">
                                <label for="currency">Currency *</label>
                                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="form.currency" class="form-control" id="currency" aria-describedby="currency_help">
                                    <option>Select an option</option>
                                    <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{ currency.name }}</option>
                                </select>
                                <small id="currency_help" class="form-text text-muted">Currency help</small>
                            </div>
                        </div>
                        <div class="form-group col">
                            <label for="amount">Name *</label>
                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="form.amount" class="form-control" id="amount" aria-describedby="amount_help" placeholder="Amount" autocomplete="off">
                            <small id="amount_help" class="form-text text-muted">Amount help</small>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label for="method">Method *</label>
                            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="form.method" class="form-control" id="method" aria-describedby="method_help">
                                <option>Select an option</option>
                                <option *ngFor="let method of methods" [ngValue]="method.id">{{ method.name }}</option>
                            </select>
                            <small id="method_help" class="form-text text-muted">Method help</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="form.comments" class="form-control" id="comments" aria-describedby="comments_help" placeholder="Comments" autocomplete="off"></textarea>
                        <small id="comments_help" class="form-text text-muted text-success">Comments help</small>
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a [routerLink]="['/payments']" class="btn btn-light">
                        Cancel
                    </a>
                </form>
            </div>
        </div>
    </div>
</div>
