<h1 class="page-title">
    Room No. {{ id }}
    <a class="badge badge-warning float-right" [routerLink]="['/rooms/edit', id]">Edit</a>
</h1>
<hr>
<div class="row grid-margin">
    <div class="col-lg-12" *ngIf="room$.view !== null">
        <small>Created on {{ room$.view.created_at | date: 'dd/MM/yyyy HH:mm:ss' }}</small>
    	<div class="btn-group float-right">
            <a class="btn btn-success" [routerLink]="['/rooms']">
                <i class="fa fa-chevron-circle-left"></i> Go Back
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body" *ngIf="room$.isLoading == true">
                <loading-spinner></loading-spinner>
            </div>
            <div class="card-body" *ngIf="room$.view !== null && room$.isLoading == false">
                <div class="alert alert-success" role="alert" *ngIf="room$.saved !== null">
                    <h4 class="alert-heading">Success!</h4>
                    Room registered correctly!
                </div>
                <h3>
                    Room Information
                    <span class="float-right badge capitalized-text" [ngClass]="{'badge-danger': (room$.view.available == false), 'badge-info': (room$.view.available == true)}">Available: {{ (room$.view.available) ? 'Yes' : 'No' }}</span>
                </h3>
                <div class="row" *ngIf="room$.view !== null">
                    <div class="col">
                        <b>Name</b>
                        <p>{{ room$.view.name }}</p>
                    </div>
                    <div class="col">
                        <b>Price per night</b>
                        <p>
                            {{ room$.view.price_night | currency: room$.view.currency:true:'1.2' }}
                        </p>
                    </div>
                </div>
                <div class="row" *ngIf="room$.view !== null">
                    <div class="col">
                        <b>Type</b>
                        <p class="capitalized-text">
                            {{ room$.view.type }}
                        </p>
                    </div>
                    <div class="col">
                        <b>Max Guests</b>
                        <p>
                            {{ room$.view.max_guests }}
                        </p>
                    </div>
                </div>
                <hr>
                <h3>
                    Ammenities
                </h3>
            </div>
        </div>
    </div>
</div>
