<h1 class="page-title">Booking List</h1>
<div class="row grid-margin">
    <div class="col-lg-12">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['create']">
                <i class="mdi mdi-calendar-plus"></i> New Booking
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Bookings</h2>
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr class="">
                            <th>ID</th>
                            <th>Guest</th>
                            <th>Room</th>
                            <th>Checkin</th>
                            <th>Checkout</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="bookings$.isLoading == true">
                        <tr>
                            <th colspan="5" class="text-center">
                                <loading-spinner></loading-spinner>
                            </th>
                        </tr>
                    </tbody>
                    <tbody *ngIf="bookings$.data.length > 0 && bookings$.isLoading == false">
                        <tr *ngFor="let booking of bookings$.data">
                            <td scope="row">
                                <a [routerLink]="['view', booking.uid]" title="View Booking Details">
                                    {{ booking.uid }}
                                </a>
                            </td>
                            <td>
                                <a [routerLink]="['/guests/view', booking.guest.uid]" title="View Guest Details">
                                    {{ booking.guest.first_name }} {{ booking.guest.last_name }}
                                </a>
                            </td>
                            <td>
                                <a [routerLink]="['/rooms/view', booking.room.uid]" title="View Room Details">
                                    {{ booking.room.name }}
                                </a>
                            </td>
                            <td>
                                {{ booking.checkin | date: 'dd/MM/yyyy' }}<br>
                                <small>{{ booking.checkin | date: 'mediumTime' }}</small>
                            </td>
                            <td>
                                {{ booking.checkout | date: 'dd/MM/yyyy' }}<br>
                            </td>
                            <td>
                                <a [routerLink]="['edit', booking.uid]" title="Edit Booking">
                                    <i class="mdi mdi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
