<h1 class="page-title">Overview</h1> 
<div class="row grid-margin">
    <div class="col-12 col-lg-6 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Total sales</h2>
                <div class="row">
                    <div class="col-12">
                        <div class="custom-legend-container small-chart-container">
                            <div id="sales-chart-legend" class="legend-top">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row grid-margin">
            <div class="col-6">
                <div class="card card-statistics">
                    <div class="card-body">
                        <p class="highlight-text">
                            <i class="mdi mdi-account text-success"></i>
                            225
                        </p>
                        <p class="text-muted">
                            New  Added contacts
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-statistics">
                    <div class="card-body">
                        <p class="highlight-text">
                            <i class="mdi mdi-trophy text-info"></i>
                            $450.00
                        </p>
                        <p class="text-muted">
                            Income amounts
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card card-statistics">
                    <div class="card-body">
                        <p class="highlight-text">
                            <i class="mdi mdi-chart-areaspline text-danger"></i>
                            $18954
                        </p>
                        <p class="text-muted">
                            Lifetime total sales
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card card-statistics">
                    <div class="card-body">
                        <p class="highlight-text">
                            <i class="mdi mdi-cash-multiple text-warning"></i>
                            $7841
                        </p>
                        <p class="text-muted">
                            Income amounts
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-12 col-lg-5 grid-margin grid-margin-lg-0">
    </div>
    <div class="col-12 col-lg-7">
    </div>
</div>
