<h1 class="page-title">Payment List</h1>
<hr>
<div class="row grid-margin">
    <div class="col">
        <form>
            <input #search (keyup)="0" class="form-control" type="text" placeholder="Search">
        </form>
    </div>
    <div class="col">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['create']">
                <i class="fa fa-plus-circle"></i> New Payment
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Payments</h2>
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr class="">
                            <th>Details</th>
                            <th>Created</th>
                            <th>Amount</th>
                            <th>Method</th>
                            <th>Register by</th>
                            <th width="1%">#</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="payments$.isLoading == true">
                        <tr>
                            <th colspan="6" class="text-center">
                                <loading-spinner></loading-spinner>
                            </th>
                        </tr>
                    </tbody>
                    <tbody *ngIf="payments$.data.length > 0 && payments$.isLoading == false">
                        <tr *ngFor="let payment of payments$.data | searchFilter: search.value">
                            <td scope="row">
                                <a [routerLink]="['view', payment.uid]" title="View Payment Details" class="btn">
                                    <i class="fa fa-file-text-o "></i>
                                </a>
                            </td>
                            <td>
                                {{ payment.created_at | date: 'dd/MM/yyyy' }}<br>
                                <small>{{ payment.created_at | date: 'mediumTime' }}</small>
                            </td>
                            <td>
                                {{ payment.amount | currency: payment.currency:true:'1.2' }}
                            </td>
                            <td>
                                <span class="badge" [ngClass]="{'badge-warning': payment.method === 'cash', 'badge-success': payment.method === 'online', 'badge-info': payment.method === 'card' }">{{ payment.method }}</span>
                            </td>
                            <td>
                                {{ payment.user.name }} {{ payment.user.lastname }}
                            </td>
                            <td>
                                <a [routerLink]="['edit', payment.uid]" title="Edit Guest" class="btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
