<div class="container-fluid page-body-wrapper">
    <div class="row">
        <div class="content-wrapper full-page-wrapper d-flex align-items-center auth-pages">
            <div class="card col-lg-8 mx-auto">
                <div class="card-body px-5 py-5">
                    <h3 class="card-title text-left mb-3">Login</h3>
                    <form (ngSubmit)="login()" [ngClass]="{'d-none': auth$.isLoading == true}" novalidate>
                        <div class="form-group text-center" *ngIf="auth$.isLoading == true">
                            <loading-spinner></loading-spinner>
                        </div>
                        <div class="form-group">
                            <label>Username or email *</label>
                            <input type="text" class="form-control p_input" name="username" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.username" required>
                        </div>
                        <div class="form-group">
                            <label>Password *</label>
                            <input type="password" class="form-control p_input" name="password" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.password" required>
                        </div>
                        <div class="form-group d-flex align-items-center justify-content-between">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input">
                                    Remember me
                                    <i class="input-helper"></i>
                                </label>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-block enter-btn">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
