<h1 class="page-title">Room List</h1>
<hr>
<div class="row grid-margin">
    <div class="col">
        <form>
            <input #search (keyup)="0" class="form-control" type="text" placeholder="Search">
        </form>
    </div>
    <div class="col">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['create']">
                <i class="fa fa-plus-circle"></i> New Room
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Rooms</h2>
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr class="">
                            <th>Details</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Rate</th>
                            <th>Max/Guests</th>
                            <th>Available</th>
                            <th width="1%">#</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="rooms$.isLoading == true">
                        <tr>
                            <th colspan="7" class="text-center">
                                <loading-spinner></loading-spinner>
                            </th>
                        </tr>
                    </tbody>
                    <tbody *ngIf="rooms$.data.length > 0 && rooms$.isLoading == false">
                        <tr *ngFor="let room of rooms$.data | searchFilter: search.value">
                            <td scope="row">
                                <a [routerLink]="['view', room.uid]" title="View Room Details" class="btn">
                                    <i class="fa fa-file-text-o "></i>
                                </a>
                            </td>
                            <td>{{ room.name }}</td>
                            <td class="capitalized-text">{{ room.type }}</td>
                            <td>{{ room.price_night | currency: room.currency:true:'1.2' }}</td>
                            <td>{{ room.max_guests }}</td>
                            <td>
                                <span class="badge capitalized-text" [ngClass]="{'badge-danger': (room.available == false), 'badge-success': (room.available == true)}">{{ (room.available) ? 'Yes' : 'No' }}</span>
                            </td>
                            <td>
                                <a [routerLink]="['edit', room.uid]" title="Edit Room" class="btn">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
