<h1 class="page-title">Room List</h1>
<div class="row grid-margin">
    <div class="col-lg-12">
    	<div class="btn-group float-right">
    		<a class="btn btn-success" [routerLink]="['create']">
                <i class="fa fa-plus"></i> New Room
            </a>
    	</div>
    </div>
</div>
<div class="row grid-margin">
    <div class="col-lg-12 grid-margin grid-margin-lg-0">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Rooms</h2>
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr class="">
                            <th>No.</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Price/Night</th>
                            <th>Max/Persons</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="rooms$.isLoading == true">
                        <tr>
                            <th colspan="6" class="text-center">
                                <loading-spinner></loading-spinner>
                            </th>
                        </tr>
                    </tbody>
                    <tbody *ngIf="rooms$.data.length > 0 && rooms$.isLoading == false">
                        <tr *ngFor="let room of rooms$.data">
                            <th scope="row">{{ room.uid }}</th>
                            <td>{{ room.name }}</td>
                            <td>{{ room.type }}</td>
                            <td>{{ room.price_night | currency: room.currency:true:'1.2' }}</td>
                            <td>{{ room.max_persons }}</td>
                            <td>
                                <a [routerLink]="['edit', room.uid]" title="Edit Room">
                                    <i class="mdi mdi-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
